/**************************************************************************************************
 * Base Rules
 **************************************************************************************************/
body  {
    font-size: 62.5%;
    font-family: "Bell MT", "Georgia", serif;
}
div {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
}
input {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
    font: inherit;
    border: 0.05rem solid;
    border-radius: 0.5rem;
}
button {
    padding: 0.2rem 0.4rem;
    margin: 0.2rem 0.4rem;
    font-size: inherit;
    cursor: pointer;
    font: inherit;
    border: 0.05rem solid;
    border-radius: 0.5rem;
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
    text-align: left;
}
/**************************************************************************************************
 * Layout Rules
 **************************************************************************************************/
.page {
    width: 90%;
    margin: 2rem auto;
}
.store {
    text-align: center;
}
.switch-theme-btn {
    position: fixed;
    right: 1rem;
    top: 1rem;
}
/* Tables */
.tbody, .thead, .catalog, .tr, .td, .th {
    padding: 0.2rem 1rem;
    margin: 0.2rem 0.4rem;
    font-size: 0.8rem;
    text-align: center;
}
.catalog {
    margin: 0 auto;
    display: table;
    width: 100%;
}
.tr {
    display: table-row;
}
.tbody {
    display: table-row-group;
}
.thead {
    display: table-header-group;
    font-weight: bold;
}
.td, .th {
    display: table-cell;
    border: 1px solid;
}
/**************************************************************************************************
 * Module Rules
 **************************************************************************************************/
/* Catalogue */
.catalog .tr.sale {
    font-weight: bold;
}
.description {
     width: 20rem;
     text-align: left;
 }
.description.th {
    text-align: center;
}
.sort-asc-btn,
.sort-desc-btn {
    display: inline-block;
    width: 0.5rem;
    height: 1rem;
    cursor: pointer;
}
/* Cart Module */
.cart-container {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    width: 50%;
    border: 0.05rem dashed #ddd;
}
.cart-table {
    margin: 0 auto;
    display: inline-block;
}
.total-bill {
    border: 0.05rem solid #ddd;
    display: block;
    margin: 0 auto;
}
.reset-cart-btn,
.view-cart-btn,
.hide-cart-btn {
    margin: 0.5rem 0 1rem;
    cursor: pointer;
}
.coupon-input {
    display: block;
    margin: 0 auto;
}
/* Quantity Buttons */
.item-amount .add,
.item-amount .remove {
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    text-decoration: none;
    margin-right: 0.5rem;
    border: none;
}
.item-amount .amount {
    width: 2rem;
    padding: 0.05rem 0;
    border: none;
    margin-right: 1rem;
    margin-left: 0.5rem;
}

.item-amount .amount[disabled] {
    border: 0.05rem solid;
}
/* Pagination */
.pagination-list {
    display: inline-block;
    padding: 0;
    margin: 2rem 0;
    box-sizing: border-box;
    font-size: 0;
    border-radius: 0.5rem;
}
.page-btn:last-child .page-link {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.page-btn:first-child .page-link {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.current-page-btn {
    font-weight: bold;
}
.pagination-list .page-link {
    position: relative;
    float: left;
    padding: 0.2rem 0.5rem;
    margin-left: -0.05rem;
    border: 0.05rem solid;
    font-size: 0.8rem;
    text-decoration: none;
    cursor: pointer;
}
.page-btn {
    margin: 0 auto;
    padding: 0.5rem 0;
    display: inline-block;
    list-style-type: none;
}
.paging-size {
    display: block;
    margin: 0 auto;
    padding: 0.15rem 0.25rem;
    width: 2rem;
    font-size: 0.7rem;
}
/**************************************************************************************************
 * Theme Rules
 **************************************************************************************************/
/* General Rules */
.catalog .tr:nth-child(even) {
    background-color: #f5f5f5;
}
.td, .th {
    border-color: #fff;
}
.tr.out {
    color: #808080;
}
input,
button {
    border-color: #ddd;
    background-color: #fff;
}
.item-amount .add,
.item-amount .remove {
    background-color: inherit;
}
.item-amount .amount {
    color: #fff;
}
.item-amount .amount[disabled] {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.pagination-list .page-link {
    background-color: #fff;
    border-color: #ddd;
}
/* Classic Theme */
.classic-theme input,
.classic-theme button,
.classic-theme .item-amount .add,
.classic-theme .item-amount .remove,
.classic-theme .pagination-list .page-link,
.classic-theme .switch-theme-btn {
    color: #337ab7;
}
.classic-theme .thead,
.classic-theme .item-amount .amount,
.classic-theme .switch-theme-btn {
    background-color: #CAE3FA;
}
/* Bright Theme */
.bright-theme input,
.bright-theme button,
.bright-theme .item-amount .add,
.bright-theme .item-amount .remove,
.bright-theme .pagination-list .page-link,
.bright-theme .switch-theme-btn {
    color: #006400;
}
.bright-theme .thead,
.bright-theme .item-amount .amount,
.bright-theme .switch-theme-btn {
    background-color: #8FBC8F;
}

/**************************************************************************************************
 * State Rules
 **************************************************************************************************/
button:hover {
    background-color: #ddd;
}