/**************************************************************************************************
 * Base Rules
 **************************************************************************************************/
body  {
    font-size: 62.5%;
    font-family: "Bell MT", "Georgia", serif;
}
div, tbody, thead, table, tr, td, th, input {
    padding: 0.2rem 1rem;
    margin: 0.02rem 0.4rem;     /* top-bottom right-left */
    font-size: 0.8rem;
    text-align: center;
}
input, button {
    font-size: inherit;
    font: inherit;
    border: 0.05rem solid #ddd;
    color: #337ab7;
    border-radius: 0.5rem;
}
.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
    text-align: left;
}
/**************************************************************************************************
 * Layout Rules
 **************************************************************************************************/
.page {
    width: 90%;
    margin: 2rem auto;
}
.cart-container {
    text-align: center;
    display: inline-block;
}

/**************************************************************************************************
 * Module Rules
 **************************************************************************************************/
/* Items Table */
.items-table {
    margin: 0 auto;
}
.items-table thead {
    background: #CAE3FA;
}
.items-table tr:nth-child(2n + 2) {
    background: #f5f5f5;
}

/* Cart Summary */
.cart-summary {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    width: 50%;
    border: 0.05rem dashed #ddd;
}
.total-bill {
    border: 0.05rem solid #ddd;
}

/* Item Buttons (Add, Remove, Amount) */
.item-amount .add,
.item-amount .remove {
    padding: 0.1rem 0 0.1rem 0.3rem;
    color: #337ab7;
    text-decoration: none;
    background-color: inherit;
    margin-right: 0.5rem;
}
.item-amount .amount {
    width: 2rem;
    padding: 0.05rem 0;
    background: #CAE3FA;
    color: #fff;
    border: none;
    margin-right: 1rem;
    margin-left: 0.5rem;
}
/* Pages Navigator */
.pages-nav {
    display: inline-block;
    padding: 0;
    margin: 2rem 0;
    box-sizing: border-box;
    font-size: 0;
    border-radius: 0.5rem;
}
.pages-nav-btn:last-child a {
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.pages-nav-btn:first-child a {
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
.pages-nav-btn {
    display: inline;
}
.current-page-btn {
    font-weight: bold;
}
.pages-nav .pages-nav-link {
    position: relative;
    float: left;
    padding: 0.2rem 0.5rem;
    margin-left: -1px;
    color: #337ab7;
    background-color: #fff;
    border: 0.05rem solid #ddd;
    font-size: 0.8rem;
    text-decoration: none;
}
.pages-nav-item {
    margin: 0 auto;
    padding: 0.5rem 0;
    display: inline-block;
    list-style-type: none;
}
.pages-nav-item.current-page {
    font-weight: bold;
}
/* Displayed Pages Number Input */
.displayed-items-nmb-input {
    display: block;
    margin: 0 auto;
    padding: 0.15rem 0.25rem;
    width: 2rem;
    font-size: 0.7rem;
}
/* Reset Cart Button */
.reset-cart-btn {
    margin: 0.5rem 0 1rem;
    background-color: #fff;
    cursor: pointer;
}

/**************************************************************************************************
 * State Rules
 **************************************************************************************************/
.reset-cart-btn:hover {
    background-color: #ddd;
}